<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<table class="pure-table">
    <thead>
    <tr>
        <th>name</th>
        <th>豆瓣</th>
        <th>updated</th>
    </tr>
    </thead>
    <tbody>
    <% rows.forEach(function(row){ %>
    <tr>
        <td><a href="http://shaw.sg/sw_moviedetails.aspx?filmCode=<%= row.code %>"><%= row.name %></a></td>
        <% var color;
            if (row.score >= 7)
                color = 'rgb(28, 184, 65)';
            else if (row.score >= 6)
                color = 'rgb(66, 184, 221)';
            else if (row.score >= 5)
                color = 'rgb(223, 117, 20)';
            else if (row.score < 5)
                color = 'rgb(202, 60, 60)';
        %>
        <td><%= row.name_cn %> <a href="<%= row.url %>" target="_blank" class="pure-button"
                                  style="padding: 0em .5em; background: <%= color %>"><%= row.score %></a></td>
        <td><%= new Date(row.updated).toLocaleString('en-US', {timeZone: 'Asia/Singapore'}) %></td>
    </tr>
    <% }); %>
    </tbody>
</table>
</body>
</html>
